!!!
%html
  %head
    = javascript_include_tag "falling_block_rpg/jquery"
    = javascript_include_tag "falling_block_rpg/class"
    = javascript_include_tag "falling_block_rpg/block"
    = javascript_include_tag "falling_block_rpg/shape"
    = javascript_include_tag "falling_block_rpg/o"
    = javascript_include_tag "falling_block_rpg/l"
    = javascript_include_tag "falling_block_rpg/t"
    = javascript_include_tag "falling_block_rpg/j"
    = javascript_include_tag "falling_block_rpg/i"
    = javascript_include_tag "falling_block_rpg/s"
    = javascript_include_tag "falling_block_rpg/z"
    = javascript_include_tag "falling_block_rpg/control"
    = javascript_include_tag "falling_block_rpg/draw"
    = javascript_include_tag "falling_block_rpg/create_shape"
    = javascript_include_tag "falling_block_rpg/collision_detection"
    = javascript_include_tag "falling_block_rpg/block_fall"
    = javascript_include_tag "falling_block_rpg/game_init"
    = javascript_include_tag "falling_block_rpg/arenas"
    = javascript_include_tag "falling_block_rpg/ai"
    %title Game
  %body
    :javascript
      var gameInit = new GameInit();
      var control = new Control();
      var arenas = new Arenas(gameInit.RIGHT_BOUND, gameInit.BOTTOM_BOUND, control);
      
      (function() {
          var onEachFrame;
          if (window.webkitRequestAnimationFrame) {
              onEachFrame = function(cb) {
                  var _cb = function() { cb(); webkitRequestAnimationFrame(_cb); }
                  _cb();
              };
          } else if (window.mozRequestAnimationFrame) {
              onEachFrame = function(cb) {
                  var _cb = function() { cb(); mozRequestAnimationFrame(_cb); }
                  _cb();
              };
          } else {
              onEachFrame = function(cb) {
                  setInterval(cb, 1000 / 60);
              }
          }
          
          window.onEachFrame = onEachFrame;
      })();
      
      window.onEachFrame(function() {
          arenas.update();
      });