!!!
%html
  %head
    = javascript_include_tag "falling_block_rpg/jquery"
    = javascript_include_tag "falling_block_rpg/class"
    = javascript_include_tag "falling_block_rpg/control"
    = javascript_include_tag "falling_block_rpg/game_init"
    = javascript_include_tag "falling_block_rpg/images"
    = javascript_include_tag "falling_block_rpg/world_map"
    = javascript_include_tag "falling_block_rpg/game_controller"
    = javascript_include_tag "falling_block_rpg/combatant"
    = javascript_include_tag "falling_block_rpg/battle/block"
    = javascript_include_tag "falling_block_rpg/battle/shape"
    = javascript_include_tag "falling_block_rpg/battle/o"
    = javascript_include_tag "falling_block_rpg/battle/l"
    = javascript_include_tag "falling_block_rpg/battle/t"
    = javascript_include_tag "falling_block_rpg/battle/j"
    = javascript_include_tag "falling_block_rpg/battle/i"
    = javascript_include_tag "falling_block_rpg/battle/s"
    = javascript_include_tag "falling_block_rpg/battle/z"
    = javascript_include_tag "falling_block_rpg/battle/draw"
    = javascript_include_tag "falling_block_rpg/battle/create_shape"
    = javascript_include_tag "falling_block_rpg/battle/collision_detection"
    = javascript_include_tag "falling_block_rpg/battle/block_fall"
    = javascript_include_tag "falling_block_rpg/battle/arenas"
    = javascript_include_tag "falling_block_rpg/battle/ai"

    %title Game
  %body
    :javascript
      var gameInit = new GameInit();
      var gameController = new GameController(gameInit);
      
      (function() {
          var onEachFrame;
          if (window.webkitRequestAnimationFrame) {
              onEachFrame = function(cb) {
                  var _cb = function() { cb(); webkitRequestAnimationFrame(_cb); }
                  _cb();
              };
          } else if (window.mozRequestAnimationFrame) {
              onEachFrame = function(cb) {
                  var _cb = function() { cb(); mozRequestAnimationFrame(_cb); }
                  _cb();
              };
          } else {
              onEachFrame = function(cb) {
                  setInterval(cb, 1000 / 60);
              }
          }
          
          window.onEachFrame = onEachFrame;
      })();
      
      window.onEachFrame(function() {
          gameController.update();
      });