!!!
%html
  %head
    = javascript_include_tag "falling_block_rpg/jquery"
    = javascript_include_tag "falling_block_rpg/class"
    = javascript_include_tag "falling_block_rpg/control"
    = javascript_include_tag "falling_block_rpg/game_init"
    = javascript_include_tag "falling_block_rpg/images"
    = javascript_include_tag "falling_block_rpg/world_map"
    = javascript_include_tag "falling_block_rpg/game_controller"
    = javascript_include_tag "falling_block_rpg/combatant"
    = javascript_include_tag "falling_block_rpg/battle/block"
    = javascript_include_tag "falling_block_rpg/battle/shape"
    = javascript_include_tag "falling_block_rpg/battle/o"
    = javascript_include_tag "falling_block_rpg/battle/l"
    = javascript_include_tag "falling_block_rpg/battle/t"
    = javascript_include_tag "falling_block_rpg/battle/j"
    = javascript_include_tag "falling_block_rpg/battle/i"
    = javascript_include_tag "falling_block_rpg/battle/s"
    = javascript_include_tag "falling_block_rpg/battle/z"
    = javascript_include_tag "falling_block_rpg/battle/draw"
    = javascript_include_tag "falling_block_rpg/battle/create_shape"
    = javascript_include_tag "falling_block_rpg/battle/collision_detection"
    = javascript_include_tag "falling_block_rpg/battle/block_fall"
    = javascript_include_tag "falling_block_rpg/battle/arenas"
    = javascript_include_tag "falling_block_rpg/battle/ai"

    %title Game
  %body
    #startForm
      %label{:for => "junk_on"} Send Junk On:
      %input#junk_on{:checked => "", :name => "junk", :type => "radio", :value => "on"}/
      %label{:for => "junk_off"} Send Junk Off:
      %input#junk_off{:name => "junk", :type => "radio", :value => "off"}/
      %br/
      %label{:for => "line_1"} 1 line:
      %input#line_1{:name => "line_1", :type => "text", :value => "0"}/
      %br/
      %label{:for => "line_2"} 2 line:
      %input#line_2{:name => "line_2", :type => "text", :value => "2"}/
      %br/
      %label{:for => "line_3"} 3 line:
      %input#line_3{:name => "line_3", :type => "text", :value => "5"}/
      %br/
      %label{:for => "line_4"} 4 line:
      %input#line_4{:name => "line_4", :type => "text", :value => "8"}/
      %br/
      %label{:for => "player_1"} Player 1 name:
      %input#player_1{:name => "player_1", :type => "text", :value => ""}/
      %br/
      %label{:for => "player_1"} Player 2 name:
      %input#player_2{:name => "player_2", :type => "text", :value => ""}/
      %br/
      %input#startGame{:type => "submit", :value => "Start"}
      
    :javascript
      $('#startGame').click(function() {
      var junkLines = [$('#line_1').val(), $('#line_2').val(), $('#line_3').val(), $('#line_4').val()];
      var options = new Options($('#junk_on').is(':checked'), junkLines, $('#player_1').val(), $('#player_2').val());
      $('#startForm').hide();
      var gameInit = new GameInit();
      var gameController = new GameController(gameInit);
      
      (function() {
          var onEachFrame;
          if (window.webkitRequestAnimationFrame) {
              onEachFrame = function(cb) {
                  var _cb = function() { cb(); webkitRequestAnimationFrame(_cb); }
                  _cb();
              };
          } else if (window.mozRequestAnimationFrame) {
              onEachFrame = function(cb) {
                  var _cb = function() { cb(); mozRequestAnimationFrame(_cb); }
                  _cb();
              };
          } else {
              onEachFrame = function(cb) {
                  setInterval(cb, 1000 / 60);
              }
          }
          
          window.onEachFrame = onEachFrame;
      })();
      
      window.onEachFrame(function() {
          gameController.update();
      });
      });