!!!
%html
  %head
    %title Jasmine Spec Runner
    = image_tag "jasmine_favicon.png"
    = stylesheet_link_tag "jasmine"
    = javascript_include_tag "falling_block_rpg/jasmine-1.1.0/jasmine"
    = javascript_include_tag "falling_block_rpg/jasmine-1.1.0/jasmine-html"
    = javascript_include_tag "falling_block_rpg/sinon"
      
    = javascript_include_tag "falling_block_rpg/spec/spec_helper"
    = javascript_include_tag "falling_block_rpg/spec/block_fall_spec"
    = javascript_include_tag "falling_block_rpg/spec/o_spec"
    = javascript_include_tag "falling_block_rpg/spec/j_spec"
    = javascript_include_tag "falling_block_rpg/spec/block_spec"
    = javascript_include_tag "falling_block_rpg/spec/draw_spec"
    = javascript_include_tag "falling_block_rpg/spec/create_shape_spec"
    = javascript_include_tag "falling_block_rpg/spec/collision_detection_spec"
    = javascript_include_tag "falling_block_rpg/spec/game_init_spec"
    = javascript_include_tag "falling_block_rpg/spec/arenas_spec"
    = javascript_include_tag "falling_block_rpg/spec/ai_spec"
    = javascript_include_tag "falling_block_rpg/spec/world_map_spec"
    = javascript_include_tag "falling_block_rpg/spec/game_controller_spec"
    = javascript_include_tag "falling_block_rpg/spec/combatant_spec"


    = javascript_include_tag "falling_block_rpg/jquery"
    = javascript_include_tag "falling_block_rpg/class"
    = javascript_include_tag "falling_block_rpg/block_fall"
    = javascript_include_tag "falling_block_rpg/shape"
    = javascript_include_tag "falling_block_rpg/j"
    = javascript_include_tag "falling_block_rpg/o"
    = javascript_include_tag "falling_block_rpg/l"
    = javascript_include_tag "falling_block_rpg/t"
    = javascript_include_tag "falling_block_rpg/i"
    = javascript_include_tag "falling_block_rpg/s"
    = javascript_include_tag "falling_block_rpg/z"
    = javascript_include_tag "falling_block_rpg/draw"
    = javascript_include_tag "falling_block_rpg/block"
    = javascript_include_tag "falling_block_rpg/create_shape"
    = javascript_include_tag "falling_block_rpg/collision_detection"
    = javascript_include_tag "falling_block_rpg/game_init"
    = javascript_include_tag "falling_block_rpg/arenas"
    = javascript_include_tag "falling_block_rpg/control"
    = javascript_include_tag "falling_block_rpg/ai"
    = javascript_include_tag "falling_block_rpg/world_map"
    = javascript_include_tag "falling_block_rpg/images"
    = javascript_include_tag "falling_block_rpg/game_controller"
    = javascript_include_tag "falling_block_rpg/combatant"

    :javascript
      (function() {
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.updateInterval = 1000;

        var trivialReporter = new jasmine.TrivialReporter();

        jasmineEnv.addReporter(trivialReporter);

        jasmineEnv.specFilter = function(spec) {
          return trivialReporter.specFilter(spec);
        };

        var currentWindowOnload = window.onload;

        window.onload = function() {
          if (currentWindowOnload) {
            currentWindowOnload();
          }
          execJasmine();
        };

        function execJasmine() {
          jasmineEnv.execute();
        }

      })();
    %body