!!!
%html
  %head
    %title Jasmine Spec Runner
    = image_tag "jasmine_favicon.png"
    = stylesheet_link_tag "jasmine"
    = javascript_include_tag "falling_block_rpg/jasmine-1.1.0/jasmine"
    = javascript_include_tag "falling_block_rpg/jasmine-1.1.0/jasmine-html"
    = javascript_include_tag "falling_block_rpg/sinon"
      
    = javascript_include_tag "falling_block_rpg/spec/spec_helper"
    = javascript_include_tag "falling_block_rpg/spec/game_init_spec"
    = javascript_include_tag "falling_block_rpg/spec/world_map_spec"
    = javascript_include_tag "falling_block_rpg/spec/game_controller_spec"
    = javascript_include_tag "falling_block_rpg/spec/combatant_spec"
    = javascript_include_tag "falling_block_rpg/spec/battle/block_fall_spec"
    = javascript_include_tag "falling_block_rpg/spec/battle/o_spec"
    = javascript_include_tag "falling_block_rpg/spec/battle/j_spec"
    = javascript_include_tag "falling_block_rpg/spec/battle/block_spec"
    = javascript_include_tag "falling_block_rpg/spec/battle/draw_spec"
    = javascript_include_tag "falling_block_rpg/spec/battle/create_shape_spec"
    = javascript_include_tag "falling_block_rpg/spec/battle/collision_detection_spec"
    = javascript_include_tag "falling_block_rpg/spec/battle/arenas_spec"
    = javascript_include_tag "falling_block_rpg/spec/battle/ai_spec"


    = javascript_include_tag "falling_block_rpg/jquery"
    = javascript_include_tag "falling_block_rpg/class"
    = javascript_include_tag "falling_block_rpg/game_init"
    = javascript_include_tag "falling_block_rpg/control"
    = javascript_include_tag "falling_block_rpg/world_map"
    = javascript_include_tag "falling_block_rpg/images"
    = javascript_include_tag "falling_block_rpg/game_controller"
    = javascript_include_tag "falling_block_rpg/combatant"
    = javascript_include_tag "falling_block_rpg/battle/block_fall"
    = javascript_include_tag "falling_block_rpg/battle/shape"
    = javascript_include_tag "falling_block_rpg/battle/j"
    = javascript_include_tag "falling_block_rpg/battle/o"
    = javascript_include_tag "falling_block_rpg/battle/l"
    = javascript_include_tag "falling_block_rpg/battle/t"
    = javascript_include_tag "falling_block_rpg/battle/i"
    = javascript_include_tag "falling_block_rpg/battle/s"
    = javascript_include_tag "falling_block_rpg/battle/z"
    = javascript_include_tag "falling_block_rpg/battle/draw"
    = javascript_include_tag "falling_block_rpg/battle/block"
    = javascript_include_tag "falling_block_rpg/battle/create_shape"
    = javascript_include_tag "falling_block_rpg/battle/collision_detection"
    = javascript_include_tag "falling_block_rpg/battle/arenas"
    = javascript_include_tag "falling_block_rpg/battle/ai"

    :javascript
      (function() {
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.updateInterval = 1000;

        var trivialReporter = new jasmine.TrivialReporter();

        jasmineEnv.addReporter(trivialReporter);

        jasmineEnv.specFilter = function(spec) {
          return trivialReporter.specFilter(spec);
        };

        var currentWindowOnload = window.onload;

        window.onload = function() {
          if (currentWindowOnload) {
            currentWindowOnload();
          }
          execJasmine();
        };

        function execJasmine() {
          jasmineEnv.execute();
        }

      })();
    %body